%button {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 6px;
  padding: 0.9em 2.8em;
}

.login-button {
  @extend %button;
  border: 1px solid #AAA;
  margin: 0 2em;
  background: white;
}
