.first-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
  }

  &__center {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    overflow: hidden;
  }

  &__background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url('../assets/skyline.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: -2;
  }

  &__title {
    // Relative position, so that balloon renders behind it
    position: relative;
  }

  &__subtitle {
    max-width: 390px;
    text-align: center;
    // Relative position, so that balloon renders behind it
    position: relative;
  }

  & .find-tenants-button {
    // Relative position, so that balloon renders behind it
    position: relative;
  }

  &__bottom {
    background: $accent-color;
  }

  &__bottom-row {
    height: 6em;
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $accent-color;
    pointer-events: none;
  }
}
