.first-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.first-page-top {
  display: flex;
  justify-content: space-around;
  padding-top: 3em;
}

.first-page-center {
  flex: 1;
  background-image: url('../assets/skyline.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.first-page-bottom {
  height: 6em;
  background: $accent-color;
}

.first-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $accent-color;
  pointer-events: none;
}
