.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease-in-out;

  &--above {
    transform: translateY(-50%);
  }

  &--below {
    transform: translateY(100%);
  }
}

.page__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease-in-out;
  background: $accent-color;
  opacity: 0;
  pointer-events: none;

  .page--above &{
    opacity: 1;
  }
}
