.second-page {
  height: 100vh;
  width: 100%;
  background-image: url("https://previews.123rf.com/images/alliedcomputergraphics/alliedcomputergraphics1206/alliedcomputergraphics120600890/14063549-grass-seamless-texture-tile.jpg");
  background-repeat: repeat;
  position: absolute;
  top: 100vh;
}
