.selling-point {
  display: flex;
  align-items: center;
  color: white;
}

.selling-point-icon-wrapper {
  margin-right: 2.6em;
}

.selling-point-icon-slash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
