.third-page {
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;

  &__top-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__grid-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
  }

  &__grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
  }

  &__grid-cell {
    flex: 1;
    height: 16em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: $faded-color;


    &__title {
      font-weight: 400;
      font-size: 1.1rem;
    }
  }
}
