$hover-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

.third-page {
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;

  &__top-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__grid-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
  }

  &__grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
  }

  &__grid-cell {
    position: relative;
    flex: 1;
    height: 15em;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: $faded-color;
    overflow: hidden;
    transition: $hover-transition;

    &__icon {
      position: relative;
      font-size: 4em;
      margin-bottom: 1em;

      // Use !important because material UI overrides the size
      height: 2.2em !important;
      width: 2.2em !important;;
    }

    &__title {
      position: relative;
      font-weight: 400;
      font-size: 1.15rem;
      margin-top: 1em;
      margin-bottom: 0;
      transition: font-size $hover-transition, transform $hover-transition;
    }

    &:hover &__title {
      transform: translateY(-1.3em);
      font-weight: 500;
      font-size: 1.25rem;
    }

    &__description {
      position: relative;
      text-align: center;
      margin: 0;
      transform: scale(0);
      transition: transform $hover-transition;
      font-size: 1rem;
    }

    &:hover &__description {
      transform: scale(1);
    }

    &:before {
      @include absolute-fill;
      content: '';
      background: $accent-color;
      transform: translateX(-101%);
      transition: $hover-transition;
    }

    &:hover {
      color: white;

      &:before {
        transform: translateX(0);
      }
    }
  }
}
