$hover-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

.third-page {
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;

  &__top-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__grid-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
  }

  &__grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
  }

  &__grid-cell {
    position: relative;
    flex: 1;
    height: 14em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: $faded-color;
    overflow: hidden;
    transition: $hover-transition;

    &__icon {
      position: relative;
      font-size: 4em;

      // Use !important because material UI overrides the size
      height: 2.2em !important;
      width: 2.2em !important;;
    }

    &__title {
      position: relative;
      font-weight: 400;
      font-size: 1.1rem;
      margin-bottom: 2em;
    }

    &:before {
      @include absolute-fill;
      content: '';
      background: $accent-color;
      transform: translateX(-100%);
      transition: $hover-transition;
    }

    &:hover {
      color: white;

      &:before {
        transform: translateX(0);
      }
    }
  }
}
